/**
 *  MAJ Hub block
 *  
 *  @author  VERSION2, Inc. (http://ver2.jp)
 *  @version $Id: styles.css 127 2012-11-27 01:32:51Z malu $
 */
.block_majhub div.editmetadata { margin-bottom:-16px; }
.block_majhub table.metadata { font-size:90%; line-height:90%; margin:0; }
.block_majhub table.metadata tr th { text-align:right; padding:0.5em 0; }
.block_majhub table.metadata tr td { text-align:left; padding-right:0; }
.block_majhub div.reviews { font-size:90%; }
.block_majhub div.reviews .review { margin:0.5em 0; }
.block_majhub div.reviews .review .stars img { width:12px; height:12px; }
.block_majhub div.action { text-align:center; margin:0.5em; }
.block_majhub .download img { margin:-1px 2px -4px 0; }
.block_majhub .stars { white-space:nowrap; }
